<section id="footer" class="snap-section">
            <div id="footer_outerdiv">
                <div class="innerdivs" id="footer_innerdiv1">
                    <ul><li>INTERNATIONAL VERSION - english</li></ul>
                </div>

                <div class="innerdivs" id="footer_innerdiv2">
                    <ul>
                        <li>CLIENT SERVICES</li>
                        <li>Email us</li>
                        <li>CHAT UNAVAILABLE</li>
                        <li>Book an appointment</li>
                    </ul>
                </div>
                <div class="innerdivs" id="footer_innerdiv3">
                    <ul>
                        <li>Legal Notices</li>
                        <li>Accessibility</li>
                        <li>Career</li>
                    </ul>
                </div>
                <div class="innerdivs" id="footer_innerdiv4">
                    <ul><li>subscribe to Newsletter &nbsp;-></li></ul>
                </div>

            </div>
            <div id="social_media_icons">
                <i class="ri-facebook-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-pinterest-fill"></i>
                <i class="ri-youtube-fill"></i>
                <i class="ri-twitter-fill"></i>
                <i class="ri-tiktok-fill"></i>
                
            </div>
        </section>